<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">WFL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Restaurants</a>
                    <a class="nav-link" href="#">Login</a>
                </div>
                </div>
            </div>
            </nav>
            <div class="content">
            <h1 class="display-5">What's For Lunch?</h1>
            <p>Let your fate be decided by the algorithm or pick the correct answer:</p>

            <%# <div class="card-container">
                <a class="card">
                <span>Random</span>
                </a>
                <a class="card"">
                <span>The Correct Answer</span>
                </a>
            </div> %>
            <h2>You should eat at <span class="restaurant"><%= @restaurant.name %></span></h2>
            <div class="card-container">
                <a class="card" href="slack://channel?team=TT1T37BHD&id=CSNQD8KS7">
                <span>Start a Lunch Train</span>
                </a>
                <a class="card" target="_blank" href="https://www.google.ca/maps/search/#{restaurant}">
                <span>Get Directions</span>
                </a>
                <a class="card" target="_blank" href="https://www.skipthedishes.com">
                <span>Get it Delivered</span>
                </a>
            </div>
            <footer>
                <p>I hope I don't get fired for wasting the hackathon making this.</p>
            </footer>
            </div>
        </div>
    </div>
</div>