<div class="row">
    <div class="col-7">
    <h2>Add Restaurant</h2>
    </div>
</div>
<div class="row">
  <div class="col-7">
    <%= form_with model: @restaurant do |form| %>
      <div class="form-group required">
        <label for="name">Name</label>
        <%= form.text_field :name, class: 'form-control' %>
        <small id="nameHelp" class="form-text text-muted">Required</small>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <%= form.text_area :description, class: 'form-control', type: 'text' %>
        <small id="descriptionHelp" class="form-text text-muted">A brief description</small>
      </div>
        <%= form.submit "Save", class: 'btn btn-primary', type: 'submit' %>
    <% end %>
  </div>
</div>
