/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body {
  background-color: #5452CC;
 }

 .notice {
  color: #f2ff80;
 }

 .alert {
  color: #f2ff80;
 }

 form {
  border: 1px solid #f2ff80;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #f2ff80;
 }

 table {
  padding: 1rem;
  color: #f2ff80;
 }

 thead, th, td {
  color: #f2ff80;
 }

 .btn.btn-primary {
  background-color: #f2ff80;
  color: #5452CC;
}

.btn.btn-primary:hover {
  background-color: #e5ff00;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
  color: #5452CC;
}

 h1, h2, h3, h4, h5 {
  color: #f2ff80;
 }

 .navbar {
  font-weight: 600;
 }

 a.nav-link {
  color: #f2ff80;
 }

 a.nav-link:visited {
  color: #f2ff80;
 }

 a.nav-link:hover {
  color: #f2ff80;
  text-decoration: underline;
 }

 a.card:visited {
  color: #5452CC;
  text-decoration: none;
}

 .card {
    all: unset;
    border-radius: 4px;
    background-color: #f2ff80;
    color: #5452CC;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    color: #f2ff80;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
    padding: 3px 6px 3px 6px;
    margin: 0 4px 8px;
    display: inline;
  }
  
  .card-container .card:hover, .card-small:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

footer {
    text-align: center;
    color: #f2ff80;
    font-weight: 600;
  }
  
  .restaurant {
    color: #f2ff80;
  }