/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body {
  background-color: #ffffff;
  color: #5452CC;
 }

 .modal-content {
  background-color: #5452CC;
 }

 label {
  margin-bottom: 0.5rem;
 }

 input {
  margin-bottom: 0.5rem;
 }

 form {
  border-radius: 0.5rem;
  padding: 1rem;
 }

 table {
  padding: 1rem;
 }

 .btn.btn-primary {
  color: #f2ff80;
  background-color: #5452CC;
}

.btn.btn-primary:hover {
  background-color: #f2ff80;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
  color: #5452CC;
}

 .navbar {
  font-weight: 600;
  background-color: #5452CC;
 }

 a.nav-link {
  color: #f2ff80;
 }

 a.nav-link:visited {
  color: #f2ff80;
 }

 a.nav-link:hover {
  color: #f2ff80;
  text-decoration: underline;
 }

 a.card:visited {
  color: #f2ff80;
  text-decoration: none;
}

 .card {
    all: unset;
    border-radius: 4px;
    background-color: #5452CC;
    color: #f2ff80;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
  }

  .content-lunch {
    display: flex;
    margin: 30px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    border-top: 5px;
    border-color: #000;
  }

  .content {
    display: flex;
    margin: 30px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
    padding: 6px 12px 6px 12px;
    margin: 0 4px 8px;
    display: inline;
    color: #f2ff80;
  }
  
  .card-container .card:hover, .card-small:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    color: #f2ff80;
  }

footer {
    text-align: center;
    font-weight: 600;
  }
  
  .restaurant {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    display: block;
  }